.page-header{
  text-align: center;
}
.page-header span:nth-child(1){
  font-size: 50px;
  letter-spacing: 3px;
  display: block;
}
.page-header img{
  width: 70%;
  margin: 10px 0;
}
.button-group a {
  margin: 10px 20px;
  padding: 10px 75px;
}

.des{
  margin: 20px 0;
}
.des h1{
  line-height: 70px;
}
.des h4{
  line-height: 60px;
}
.flyInBtn{
  display: inline;
  position: relative;
}
.flyInBtn span{
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: -40px;
  color: #f39c12;
}
.panelForDetail{
  width: 70%;
  margin: 1em auto;
  font-size: 16px;
}
