.thumbail-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.thumbail-image img{
  max-width: 100%;
  display: block;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  transition: all 0.3s ease;
}
.thumbail-image img:hover{
  cursor: pointer;
  transform: scale3d(1.2,1.2,1.2);
}
.thumbnail .caption{
  height: 130px;
}

.homeOrder{
  position: absolute;
  bottom: 20px;
}

.homeOrder span{
  display: none;
  position: absolute;
  margin-left: 10px;
  top: -35px;
  color: #f39c12;
  font-size: 24px;
}

.carousel-inner {
  width:100%;
  max-height: 400px !important;
}
.carouselImage{
  height: 400px;
  width: 100%;
  background-position: center;
  background-size: cover;
}



@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.homeOrder span.flyIn,.thumbnailRight span.flyIn,.flyInBtn span.flyIn{
  display: block;
  -webkit-animation-name: fadeInUp;
  -moz-animation-name:fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  -moz-animation-duration:1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}