<section>
  <div class="page-header">
    <h1>All dishes</h1>

<div ng-click="vm.showMessage()">
<pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></pagination>
</div>


  </div>
  <div class="row">
    <div class="col-md-12 thumbnail" data-ng-repeat="dish in vm.pageItems">

      <div class="thumbnailLeft col-md-3">
        <img data-ui-sref="dishes.view({ dishId: dish._id })" ng-src="{{dish.dishImage}}" alt="{{dish.name}}" />
      </div>
      <div class="thumbnailMid col-md-6">
        <h3 data-ui-sref="dishes.view({ dishId: dish._id })">{{dish.name}}</h3>
        <p class="text-muted">
          Price:
          <span data-ng-bind="dish.price | currency"></span>
        </p>
      </div>
      <div class="thumbnailRight col-md-3">
        <p>
          <a class="btn btn-primary"
          data-ng-click="vm.createLocalOrder(dish._id)"
          onclick="flyIn(this)">
          <i class="glyphicon glyphicon-shopping-cart"></i>
        </a>
        <span>+1</span>
      </p>
    </p>

  </div>
</div>
</div>
<div class="alert alert-warning text-center" data-ng-if="vm.dishes.$resolved && !vm.dishes.length">
  No dishes yet, why don't you <a data-ui-sref="dishes.create">create one</a>?
</div>
</section>