<section>
  <div class="page-header">
    <h1>{{vm.dish._id ? 'Edit Dish' : 'New Dish'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.dishForm" class="form-horizontal" ng-submit="vm.save(vm.form.dishForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.dish.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.dishForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Dish name is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="name">Price(￥)</label>
          <input name="price" type="text" ng-model="vm.dish.price" id="price" class="form-control" placeholder="Price" required>
          <div ng-messages="vm.form.dishForm.price.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Dish price is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="dishImage">Dish image</label>
          <input name="dishImage" type="text" ng-model="vm.dish.dishImage" id="dishImage" class="form-control" placeholder="dish image url" required>
          <div ng-messages="vm.form.dishForm.dishImage.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Dish image is required.</p>
          </div>
        </div>
        <div class="table-wrapper table-ingredient">
          <table class="table">

            <tr>
              <th></th>
              <th>Name</th>
              <th>Weight(g)</th>
            </tr>
            <tr>
              <td><span class="btn btn-default" ng-click="vm.addIngredient()">add</span></td>
              <td><input class="form-control" type="text" ng-model="vm.dish.ingredient.name"></td>
              <td><input class="form-control" type="text" ng-model="vm.dish.ingredient.weight"></td>
            </tr>
            <tr ng-repeat="ingredient in vm.dish.ingredients track by $index">
              <td><span class="btn btn-default" ng-click="vm.dish.ingredients.splice($index, 1)">remove</span></td>
              <td><input class="form-control" type="text" ng-model="ingredient.name"></td>
              <td><input class="form-control" type="text" ng-model="ingredient.weight"></td>
            </tr>
          </table>
        </div>

<!-- cooking steps -->
        <div class="table-wrapper table-cook">
          <table class="table">

            <tr>
              <td><span class="btn btn-default" ng-click="vm.addCookingSteps()">add</span></td>
              <td><input class="form-control" type="text" ng-model="vm.dish.cookingStep"></td>
            </tr>
            <tr ng-repeat="cookingStep in vm.dish.cookingSteps">
              <td><span class="btn btn-default" ng-click=" vm.dish.cookingSteps.splice($index, 1)">remove</span></td>
              <td><input class="form-control" type="text" ng-model="cookingStep"></td>
            </tr>
          </table>
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-primary">{{vm.dish._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
