<section>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div ng-repeat="dish in vm.topDish" ng-class='$index===0?"active item":"item"'>

        <div data-ui-sref="dishes.view({ dishId: dish._id })" class="carouselImage" style="background-image:url( {{dish.dishImage}} )"></div>
        <div class="carousel-caption">
          <!-- description of images -->
          {{dish.name}}
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a ng-non-bindable class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a ng-non-bindable class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



  <div class="page-header">
  <h1>Today's suggestion</h1>
  </div>
  <div class="row">
    <div data-ng-repeat="dish in vm.ramdomDishes" class="col-sm-6 col-md-4">
      <div class="thumbnail" >
        <div class="thumbail-image">
          <img data-ui-sref="dishes.view({ dishId: dish._id })" src="{{dish.dishImage}}" alt="{{dish.name}}">
        </div>
        <div class="caption">
          <h3>{{dish.name}}</h3>
          <small class="list-group-item-text pull-right">
            Price:
            <span data-ng-bind="dish.price | currency:'￥'"></span>
          </small>
          <p class="homeOrder">
            <a class="btn btn-primary"
            data-ng-click="vm.createLocalOrder(dish._id)"
            onclick="flyIn(this)">
            <i class="glyphicon glyphicon-shopping-cart"></i>
          </a>
          <span>+1</span>
        </p>
      </div>

    </div>
  </div>
</div>
<div class="alert alert-warning text-center" data-ng-if="vm.dishes.$resolved && !vm.dishes.length">
  No Dishes yet, why don't you <a data-ui-sref="dishes.create">create one</a>?
</div>
</section>