<section ng-controller="DeliverInfoController" ng-init='getUserDeliverInfo()'>
  <form class="form-horizontal" name="orderForm" ng-submit="updateOrder()" >

    <div class="form-group" ng-class="{ 'has-error' : orderForm.address.$invalid && !orderForm.address.$pristine }">
      <label class="col-sm-2 col-md-2 control-label">Address</label>
      <div class="col-sm-10 col-md-10">
        <input type="text" list="deliverInfoDatalistAddress" name="address" class="form-control" placeholder="Your address" ng-model="deliverInfo.address" required autocomplete="off">
        <datalist id="deliverInfoDatalistAddress">
          <option value="{{address}}" ng-repeat="address in deliverInfos.addresses">
        </datalist>
        <p ng-show="orderForm.address.$invalid && !orderForm.address.$pristine" class="help-block">Your Address is required.</p>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : orderForm.name.$invalid && !orderForm.name.$pristine }">
      <label class="col-sm-2 col-md-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" list="deliverInfoDatalistName" name="name" class="form-control" placeholder="Your Name" ng-model="deliverInfo.name" required autocomplete="off">
        <datalist id="deliverInfoDatalistName">
          <option value="{{name}}" ng-repeat="name in deliverInfos.names">
        </datalist>
        <p ng-show="orderForm.name.$invalid && !orderForm.name.$pristine" class="help-block">Your name is required.</p>
      </div>
     </div>

    <div class="form-group" ng-class="{ 'has-error' : orderForm.phone.$invalid && !orderForm.phone.$pristine }">
      <label class="col-sm-2 col-md-2 control-label">PhoneNo.</label>
      <div class="col-sm-10 col-md-10">
        <input type="text" list="deliverInfoDatalistPhoneNumber" name="phone" class="form-control" placeholder="Phone Number" ng-model="deliverInfo.phone" required autocomplete="off">
        <datalist id="deliverInfoDatalistPhoneNumber">
          <option value="{{phone}}" ng-repeat="phone in deliverInfos.phones">
        </datalist>
         <p ng-show="orderForm.phone.$invalid && !orderForm.phone.$pristine" class="help-block">Please fill in the phone number.</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 col-md-2 control-label">Expect Delivery</label>
      <div class="col-sm-5 col-md-5">
        <h6>Date:</h6>
        <input type="date" class="form-control" ng-model="deliverInfo.time.date" min="{{minDate | date:'yyyy-MM-dd'}}" max="{{maxDate | date:'yyyy-MM-dd'}}"></input>
      </div>
      <div class="col-sm-5 col-md-5" >
        <h6>Time Range:</h6>
        <input list="deliverInfoDatalistTimeTime" type="text" class="form-control" ng-model="deliverInfo.time.time" required></input>
        <datalist id="deliverInfoDatalistTimeTime">
          <option value="09:00-12:00"></option>
          <option value="12:00-14:00"></option>
          <option value="14:00-16:00"></option>
          <option value="16:00-18:00"></option>
          <option value="18:00-20:00"></option>
          <option value="20:00-22:00"></option>
        </datalist>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-md-0ffset-2 col-sm-10 col-md-10">
        <button type="submit" class="btn btn-info">Pay</button>
      </div>
    </div>
  </form>
</section>
