<section class="container recipt-section" ng-init='recipt()'>
  <div class="row page-header">
    <h1>Recipt</h1>
    <div class="col-md-3 col-md-offset-7 text-right">
      <button class="btn btn-info" ng-click="print()">Print</button>
      <button class="btn btn-warning" ng-click="close()">Close</button>
    </div>
  </div>
  <!--startprint-->
  <div class="row list-group recipt">
    <div class="col-md-8 col-md-offset-2 list-group-item">
      <small class="list-group-item-text">
        <h2 class="text-center">One Step</h2>
        <p class="text-center">SHENZHEN NANSHAN <br> www.onestep.com</p>
        <br>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-left">
              <p><b>Bill No. : </b>{{vm.order._id}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-left">
              <p><b>Date/Time : </b>{{date | date:'yyyy-MM-dd HH:mm:ss'}}</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-md-offset-3 text-left"><b>Item</b></div>
            <div class="col-md-3 text-right"><b>Price x Quantity</b></div>
        </div>
        <br>
        <div class="row" data-ng-repeat="dish in vm.order.dishes">
            <div class="col-md-3 col-md-offset-3 text-left"><span>{{dish.name}}</span></div>
            <div class="col-md-3 text-right"><span>¥ {{dish.sumPrice}} x {{dish.quantity}}</span></div>
          </div>
        <br>
        <div class="row">
          <div class="col-md-3 col-md-offset-6 text-right"><b>ToalPrice: {{vm.order.totalPrice}} RMB</b></div>
          <div class="col-md-3 col-md-offset-6 text-right"><b>Discount: 0%</b></div>
          <div class="col-md-3 col-md-offset-6 text-right"><b>Charge: {{vm.order.totalPrice}} RMB</b></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-left">
              <p><b>Guest : </b>{{vm.order.deliverInfo.name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-left">
              <p><b>Delivery Address : </b>{{vm.order.deliverInfo.address}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-left">
              <p><b>Delivery Date/time : </b>{{vm.order.deliverInfo.time.date | date:'yyyy-MM-dd'}} / {{vm.order.deliverInfo.time.time | date:'HH:mm:ss'}}</p>
            </div>
        </div>
        <br>
        <p class="text-center">THANK YOUR SHOPPING AT <br>ONESTEP</p>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="vm.order.name"></h4>
    </div>
  </div>
  <!--endprint-->
</section>
